Flask
selenium
webdriver-manager
requests
python-dotenv
gunicorn
Werkzeug
click
itsdangerous
Jinja2
MarkupSafe
urllib3
certifi
charset-normalizer
idna
attrs
h11
outcome
PySocks
sniffio
sortedcontainers
trio
trio-websocket
wsproto
packaging
python-dateutil
six
